html, body {
  margin: 0;
  padding: 0;
  background-image: url('assets/punk1.jpg');
  background-size: 100%;
  background-position: 0% 35%;
  background-attachment: fixed;
}

a {
  color: rgb(61, 129, 232);
}

a:visited {
  color: rgb(61, 129, 232);
}

/* text boxes (default style) */

.textBoxVisible {
  /* style */
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  line-height: 25px;
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 6px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
  /* positioning */
  margin-left: 2%;
  width: 55vw;
  padding: 70px;
  /* ! set top and bottom margins of first and last text boxes in html */
}

.textBoxHidden-Left {
  /* style */
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  line-height: 25px;
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 6px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
  /* positioning */
  margin-right: auto;
  margin-left: 2%;
  width: 55vw;
  padding: 70px;
  margin-top: 10px;
  visibility: hidden;
  /* ! set bottom margins of last text box in html */
}

.textBoxHidden-Left img {
  width: 100%;
}

.textBoxHidden-Right {
  /* style */
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  line-height: 25px;
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 6px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
  /* positioning */
  margin-right: 2%;
  margin-left: auto;
  width: 55vw;
  padding: 70px;
  margin-top: 10px;
  visibility: hidden;
  /* ! set bottom margins of last text box in html */
}


/* navigation arrows (between text boxes) */

.navArrowLeft {
  width: 20px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border-style: solid;
  border-width: 6px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
  top: -6px;
  /* clips top of box shadow off */
  clip-path: inset(0px -20px -20px -20px);
  position: relative;
  left: 6%;
  cursor: pointer;
  visibility: hidden;
  /* add bottom margin to the last button or text box inline */
}

.navArrowRight {
  width: 20px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border-style: solid;
  border-width: 6px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
  top: -6px;
  /* clips top of box shadow off */
  clip-path: inset(0px -20px -20px -20px);
  position: relative;
  left: 39%;
  cursor: pointer;
  visibility: hidden;
  /* add bottom margin to the last button or text box inline */
}

#button1.navArrowLeft {
  visibility: visible;
  border-style: solid;
  border-width: 6px;
  border-color: rgb(249, 80, 207);
  /* makes first nav arrow visible */
  animation: pinkGlow 1s ease-in-out infinite alternate;
  clip-path: none;
  box-shadow: none;
}

@keyframes pinkGlow {
  from {
    filter: drop-shadow(0px 0px 8px rgb(249, 80, 207))
    drop-shadow(0px 0px 10px rgb(249, 80, 207))
  }
  to {
    filter: drop-shadow(0px 0px 10px rgb(249, 80, 207))
    drop-shadow(0px 0px 10px rgb(249, 80, 207))
    drop-shadow(0px 0px 15px rgb(249, 80, 207))
    drop-shadow(0px 0px 20px rgb(249, 80, 207))
  }
}

.navArrowLeft img {
  width: 20px;
  object-fit: contain;
}

.navArrowRight img {
  width: 20px;
  object-fit: contain;
}

.navArrowLeft:hover {
  background: rgb(249, 80, 207);
}

.navArrowRight:hover {
  background: rgb(249, 80, 207);
}

@keyframes moveArrowDown {
  from {translate: 0px -2px;}
  to {translate: 0px 2px;}
}

#button1.navArrowLeft img {
  animation: moveArrowDown 0.5s ease-in-out infinite alternate;
}

#button1.navArrowLeft:hover img {
  animation-play-state: paused;
}


/* home button */

#homeButton {
  padding: 10px;
  margin: 20px;
  width: 180px;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
}

#homeButton img {
  width: 180px;
}

#homeButton:hover {
  cursor: pointer;
}

#title {
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  padding: 25px;
  margin-bottom: 5%;
  border-style: solid;
  border-width: 6px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  text-align: center;
}


#promo {
  /* background-color: rgb(249, 80, 207); */
  background-image: url(assets/greentag.png);
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
  position: absolute;
  top: 110px;
  padding: 30px;
  right: 5%;
  width: 170px;
  text-align: center;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}


/* the prequel popup */

#thePrequel {
  position: absolute;
  top: 800px;
  right: 16%;
  background: rgb(249, 80, 207);
  color: white;
  font-size: 40px;
  animation: pinkGlow 1s ease-in-out infinite alternate;
}

#thePrequel:hover {
  cursor: pointer;
  transform: scale(1.25);
}

#thePrequelTextBox {
  position: absolute;
  visibility: hidden;
  top: 450px;
  right: 9%;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 34%;
  /* text style */
  font-family: arial;
  font-size: 17px;
  line-height: 23px;
  color: white;
  /* box style */
  border-radius: 15px;
  background: rgba(249, 80, 207, 0.9);
  text-shadow: 0px 0px 15px rgb(225, 72, 187),
    0px 0px 4px rgb(171, 55, 142);
  box-shadow: 0px 0px 50px rgb(249, 80, 207),
    0px 0px 25px rgb(249, 80, 207);
}

#closeThePrequelTextBox:hover {
  cursor: pointer;
}

#deathImg1 {
  visibility: hidden;
  position: absolute;
  width: 25%;
  right: 30%;
  top: 130px;
  border-style: solid;
  border-width: 6px;
  border-color: white;
  box-shadow: 0px 0px 20px black;
}

#deathImg2 {
  visibility: hidden;
  position: absolute;
  width: 35%;
  left: 4%;
  top: 300px;
  border-style: solid;
  border-width: 6px;
  border-color: white;
  box-shadow: 0px 0px 20px black;
}

#deathImg3 {
  visibility: hidden;
  position: absolute;
  width: 21%;
  left: 23%;
  top: 600px;
  border-style: solid;
  border-width: 6px;
  border-color: white;
  box-shadow: 0px 0px 20px black;
}


#mclaren {
  visibility: hidden;
  position: absolute;
  width: 22%;
  right: 7%;
  top: 1450px;
}

#mclaren img {
  max-width:100%;
  max-height:100%;
  border-style: solid;
  border-width: 6px;
  border-color: white;
  box-shadow: 0px 0px 20px black;
}

#mclaren p {
  background-color: black;
  color: white;
}

#ramones {
  visibility: hidden;
  position: relative;
}

#ramones img {
  width: 90%;
  margin-left: 4%;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  box-shadow: 0px 0px 20px black;
}

#ramones p {
  background-color: black;
  color: white;
  margin-left: 4%;
  margin-right: 65%;
}

#foucault {
  width:28%;
  position:relative;
  left:3%;
  margin-top:-500px;
  visibility:hidden;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  box-shadow: 0px 0px 20px black;
}

#poseur {
  width:28%;
  position:relative;
  left:3%;
  margin-top:-410px;
  visibility:hidden;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  box-shadow: 0px 0px 20px black;
}

#blondie {
  width:24%;
  position:relative;
  left:70%;
  margin-top:-500px;
  visibility:hidden;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  box-shadow: 0px 0px 20px black;
}

#blondieText {
   margin-left: 70%;
   margin-right: 3%;
   background-color: black;
   color: white;
   visibility: hidden;
}







/* spans */

#authenticityNav {
  position: fixed;
  top: 0%;
  left: 40%;
  visibility: hidden;
  background-color: rgb(249, 80, 207);
  color: white;
  padding: 30px;
  font-size: 30px;
}

#glamNav {
  position: fixed;
  top: 0%;
  left: 40%;
  visibility: hidden;
  background-color: rgb(249, 80, 207);
  color: white;
  padding: 30px;
  font-size: 30px;
}

#hardcoreNav {
  position: fixed;
  top: 0%;
  left: 35%;
  visibility: hidden;
  background-color: rgb(249, 80, 207);
  color: white;
  padding: 30px;
  font-size: 30px;
}

#workingClassSpan {
  color:rgb(249, 80, 207);
}

#workingClassSpan:hover {
  cursor: pointer;
}

#punksAuthenticitySpan {
  color:rgb(249, 80, 207);
}

#punksAuthenticitySpan:hover {
  cursor: pointer;
}

#glamSpan {
  color:rgb(249, 80, 207);
}

#glamSpan:hover {
  cursor: pointer;
}

#hardcoreSpan {
  color:rgb(249, 80, 207);
}

#hardcoreSpan:hover {
  cursor: pointer;
}



#footnotes {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  padding: 25px;
  margin-bottom: 5%;
  border-style: solid;
  border-width: 3px;
}