html {
  background-color: rgb(255, 205, 248);
}

body {
  font-size: 20px;
}

#contentContainer {
  padding: 0;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 5%;
}

a {
  color: rgb(61, 129, 232);
}

a:visited {
  color: rgb(61, 129, 232);
}

h2 {
  margin-top: 70px;
}

#title {
  margin-top: 70px;
  font-size: 60px;
}

/* home button */

#homeButton {
  padding: 10px;
  margin: 20px;
  width: 180px;
}

#homeButton img {
  width: 180px;
}

#homeButton:hover {
  cursor: pointer;
}

#trinitySpan {
  color: rgb(249, 80, 207);
}

#trinitySpan:hover {
  cursor: pointer;
}

#trinityNav {
  position: fixed;
  top: 0%;
  left: 36%;
  visibility: hidden;
  background-color: rgb(249, 80, 207);
  color: white;
  padding: 30px;
  font-size: 30px;
}

#styleSpan {
  color: rgb(249, 80, 207);
}

#styleSpan:hover {
  cursor: pointer;
}

#styleNav {
  position: fixed;
  top: 0%;
  left: 40%;
  visibility: hidden;
  background-color: rgb(249, 80, 207);
  color: white;
  padding: 30px;
  font-size: 30px;
}

#politicalStatementSpan {
  color:rgb(249, 80, 207);
}

#popup {
  visibility: hidden;
  position: absolute;
  width: 480px;
  top: 60px;
  left: 33%;
  background-color: rgb(249, 80, 207);
  color: white;
  padding: 10px;
}

.quote {
  margin: 50px;
  font-size: 25px;
  color: rgb(179, 112, 201);
}

#mcrVideo {
  width: 100%;
}

#masculinitySpan {
  color: rgb(249, 80, 207);
}

#bertGerardImg {
  visibility: hidden;
  position: absolute;
  width: 250px;
  margin-left: -320px;
  margin-top: -260px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
}

#masculinityImg {
  visibility: hidden;
  position: absolute;
  width: 550px;
  margin-left: -20px;
  margin-top: -300px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
}

#girlBandImg {
  visibility: hidden;
  position: absolute;
  width: 600px;
  margin-top: 70px;
  margin-left: -120px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
}

#footnotes {
  background-color: white;
  color: black;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 25px;
  margin-bottom: 5%;
  border-style: solid;
  border-width: 3px;
  font-size: 16px;
  text-align: left;
}