html {
  background-color: rgb(134, 6, 70);
  color: white;
}

body {
  font-size: 20px;
}

a {
  color: rgb(88, 146, 234);
}

a:visited {
  color: rgb(88, 146, 234);
}

#title {
  margin-left: 10%;
  margin-top: 5%;
  color: white;
  font-size: 80px;
  margin-bottom: 0;
}

.contentContainer {
  padding: 0;
  margin: 10%;
}

.contentContainer img {
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

/* home button */

#homeButton {
  padding: 10px;
  margin: 20px;
  width: 180px;
}

#homeButton img {
  width: 180px;
}

#homeButton:hover {
  cursor: pointer;
}



.textContainer {
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 33%;
  padding-left: 3%;
  padding-right: 3%;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.column h2 {
  margin-bottom: 0;
  font-size: 20px;
}

.column img {
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

#stuntmanSpan {
  color: rgb(249, 80, 207);
}

#frankImg {
  visibility: hidden;
  position: absolute;
  width: 200px;
  top: 4300px;
  left: 14%;
  box-shadow: 0px 0px 20px white;
}


#mcrSectionSpan {
  color:rgb(249, 80, 207);
}

#mcrSectionSpan:hover {
  cursor: pointer;
}

#gerardNav {
  position: fixed;
  top: 0%;
  left: 43%;
  visibility: hidden;
  background-color: rgb(249, 80, 207);
  color: white;
  padding: 30px;
  font-size: 30px;
}