html {
  background-image: url('assets/newspapertexture.jpg');
  background-size: 103vw;
  background-position: center;
}

body {
  padding: 0;
  font-size: 18px;
  text-align: justify;
}

a {
  color: rgb(61, 129, 232);
}

a:visited {
  color: rgb(61, 129, 232);
}


/* home button */

#homeButton {
  padding: 10px;
  margin: 20px;
  width: 180px;
}

#homeButton img {
  width: 180px;
}

#homeButton:hover {
  cursor: pointer;
}

#title {
  margin-bottom: 0;
  font-size: 50px;
  text-align: left;
  font-family: Tahoma, sans-serif;
}

.textContainer {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 33%;
  padding-left: 3%;
  padding-right: 3%;
}

.column h2 {
  margin-bottom: 0;
  margin-top: 50px;
  font-size: 20px;
}

.column img {
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}



/* spans */

#authenticitySpan {
  color:rgb(249, 80, 207);
}

#authenticitySpan:hover {
  cursor: pointer;
}

#authenticityNav {
  position: fixed;
  top: 0%;
  left: 40%;
  visibility: hidden;
  background-color: rgb(249, 80, 207);
  color: white;
  padding: 30px;
  font-size: 30px;
}

#punkSpan {
  color:rgb(249, 80, 207);
}

#punkSpan:hover {
  cursor: pointer;
}

#punkNav {
  position: fixed;
  top: 0%;
  left: 40%;
  visibility: hidden;
  background-color: rgb(249, 80, 207);
  color: white;
  padding: 30px;
  font-size: 30px;
}

#bowieSpan {
  color:rgb(249, 80, 207);
}

#topOfThePopsImg {
  position: absolute;
  visibility: hidden;
  width: 320px;
  top: 2300px;
  right: 10%;
}

#garyFloydSpan {
  color:rgb(249, 80, 207);
}

#garyFloydDiv {
  position: absolute;
  right: 35%;
  display: flex;
  flex-direction: column;
  top: 1000px;
  width: 450px;
}

#garyFloydImg {
  visibility: hidden;
  box-shadow: 0px 0px 20px black;
}

#dicksLiveImg {
  visibility: hidden;
  box-shadow: 0px 0px 20px black;
}

#garyFloydText {
  visibility: hidden;
  background-color: rgb(249, 80, 207);
  color: white;
  padding: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

#footnotes {
  background-color: white;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 25px;
  margin-bottom: 5%;
  border-style: solid;
  border-width: 3px;
  font-size: 16px;
  text-align: left;
}