html, body {
  margin: 0;
  padding: 0;
  background-image: url(assets/braid.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

a {
  color: rgb(61, 129, 232);
}

a:visited {
  color: rgb(61, 129, 232);
}

.title {
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  padding: 25px;
  margin-bottom: 5%;
  border-style: solid;
  border-width: 6px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  text-align: center;
}

.subtitle {
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  padding: 25px;
  margin-bottom: 5%;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  text-align: center;
}


/* text boxes (default style) */

.text {
  /* style */
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  line-height: 25px;
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 6px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
  /* positioning */
  margin-left: 5%;
  margin-bottom: 50px;
  width: 55vw;
  padding: 70px;
  /* ! set top and bottom margins of first and last text boxes in html */
}


/* home button */

#homeButton {
  padding: 10px;
  margin: 20px;
  width: 180px;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  box-shadow: 0px 0px 20px black;
}

#homeButton img {
  width: 180px;
}

#homeButton:hover {
  cursor: pointer;
}


#jawbreakerImg {
    width:90%;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom:50px;
    border-style:solid;
    border-width:4px;
    border-color:white;
}

#jawbreakerContainer {
  background-image: url(assets/dearYou.jpg);
  border-style: solid;
  border-width: 10px;
  border-color: black;
  margin-bottom: 50px;
}


#dearYouImg {
  position:relative;
  left:9%;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  box-shadow: 0px 0px 20px black;
}




#footnotes {
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  padding: 25px;
  margin-bottom: 5%;
  border-style: solid;
  border-width: 3px;
}